In [112]:
import pandas as pd
from sklearn.feature_extraction.text import CountVectorizer,TfidfVectorizer,TfidfTransformer
from sklearn.metrics.pairwise import cosine_similarity

In [113]:
data =[ 'sunshine state enjoy sunshine','brown fox jump high, brown fox run','sunshine state fox run fast']

# Q1

In [114]:
# fit data
bow = CountVectorizer(stop_words = 'english')
bow.fit(data)

CountVectorizer(stop_words='english')

In [115]:
# tokenize sentences to get words and vector
featuress = bow.get_feature_names()
featuress

['brown', 'enjoy', 'fast', 'fox', 'high', 'jump', 'run', 'state', 'sunshine']

In [116]:
# feature array vector
bow_feature = bow.transform(data)
bow_feature_val = bow_feature.toarray()
vocabulary = featuress
# converting array into dataframe
data_frame = pd.DataFrame(bow_feature_val,columns=vocabulary,index=['s1','s2','s3'])
data_frame

    brown  enjoy  fast  fox  high  jump  run  state  sunshine
s1      0      1     0    0     0     0    0      1         2
s2      2      0     0    2     1     1    1      0         0
s3      0      0     1    1     0     0    1      1         1

In [118]:
# generate tf
tf = TfidfVectorizer(use_idf=False)
tf.fit(data)
tf_featu = tfidf.transform(data)
tf_val = tfidffeatu.toarray()
# converting array into dataframe
data_frame = pd.DataFrame(tf_val,columns=vocabulary,index=['s1','s2','s3'])
data_frame

,brown,enjoy,fast,fox,high,jump,run,state,sunshine
s1,0.000000,0.50689,0.000000,0.000000,0.000000,0.000000,0.000000,0.385503,0.771006
s2,0.670703,0.00000,0.000000,0.510087,0.335352,0.335352,0.255044,0.000000,0.000000
s3,0.000000,0.00000,0.549351,0.417796,0.000000,0.000000,0.417796,0.417796,0.417796

In [122]:
# generate idf
idf = TfidfVectorizer(use_idf=True)
idf.fit(data)
idffeatu = idf.transform(data)
idf_val= idf.idf_
# converting array into dataframe
data_frame = pd.DataFrame(idf_val,index=vocabulary,columns = ['idf'])
data_frame

               idf
brown     1.693147
enjoy     1.693147
fast      1.693147
fox       1.287682
high      1.693147
jump      1.693147
run       1.287682
state     1.287682
sunshine  1.287682

In [123]:
# generate tfidf
tfidf = TfidfVectorizer()
tfidf.fit(data)
tfidffeatu = tfidf.transform(data)
tfidf_val = tfidffeatu.toarray()
# converting array into dataframe
data_frame = pd.DataFrame(tfidf_val,columns=vocabulary,index=['s1','s2','s3'])
data_frame

,brown,enjoy,fast,fox,high,jump,run,state,sunshine
s1,0.000000,0.50689,0.000000,0.000000,0.000000,0.000000,0.000000,0.385503,0.771006
s2,0.670703,0.00000,0.000000,0.510087,0.335352,0.335352,0.255044,0.000000,0.000000
s3,0.000000,0.00000,0.549351,0.417796,0.000000,0.000000,0.417796,0.417796,0.417796

# Q2

In [124]:
cosine = tf_val
cosine_similarity([cosine[0]],[cosine[2]])

array([[0.48318447]])